* {font-family: "Nunito Sans", sans-serif;}

/* header */
#header {position: absolute; top: 0; left: 0; width: 100%;}
#header .navbar {background-color: rgb(0,0,0) !important; background: linear-gradient(180deg, rgb(0 0 0 / 80%) 0%, rgba(0,0,0,0) 100%) !important; z-index: 1;}
#header .navbar-nav {width: 100%; justify-content: flex-end;}
#header .navbar-brand img {height: 3rem;}
#header .navbar-light .navbar-nav .nav-link {color: #fff;}
#header .nav-item {padding: 0 0.5rem; text-align: right;}

#header .navbar-light .navbar-nav .nav-link::before {content: " "; position: absolute; top: 47px; width: 0px; height: 3px; background-color: #6F6026; transition: .2s;}
#header .navbar-light .navbar-nav .nav-link:hover::before {content: " "; position: absolute; top: 47px; width: 30px; height: 3px; background-color: #6F6026;}

button.navbar-toggler {background-color: #fff; border-radius: 0;}

/* banner principal */
.bannerPrincipal {position: relative; max-height: 40rem; overflow: hidden;}

.bannerPrincipal-text-container {position: absolute; top: 35%;}
.bannerPrincipal-text-title {color: #fff;}
.bannerPrincipal-text-subtitle {letter-spacing: 1px; color: #fff;}

/* section link */
.section-link {min-height: 20rem; background-color: #F2D5B7;}
.section-button h3 {display: inline-block;padding: 1rem 4rem;background-color: #BD6F26;color: #fff; border: 3px solid transparent;text-transform: uppercase;text-decoration: none;font-weight: 300;letter-spacing: 2px; transition: .3s;}
.section-button:hover h3 {background-color: #ffeede; color: #212529; border-color: #6F6026; transition: .3s;}

.section-link--bg {position: absolute;top: 0;right: 0;max-height: 20rem;overflow: hidden;opacity: .25; z-index: -1;}

/* section imgs */
.section-imgs {height: 25rem;overflow: hidden;}
.section-imgs--img {position: relative;}
.section-imgs--text {width: 80%;position: absolute;text-align: center;height: 65%;margin: 10%;padding: 2rem;background-color: #ffffffd1;}
.section-imgs--title {font-size: 1.5rem;}
.section-imgs--img {max-height: 22rem;}

/* footer */
.footer-inf {background-color: #0A0708; padding: 5rem 0; color: #fff;}
.footer-inf img {max-width: 30%;}
.footer-inf h4 {font-weight: 700; margin-bottom: 2rem;}
.info-legal ul {list-style: circle;}
.info-legal a{display: block; color: #fff; text-decoration: none; margin-bottom: .5rem;}
.info-legal a:hover {color: #fff; text-decoration: underline;}

/* media queries */
@media screen and (max-width: 992px) {
    #header .navbar ul {background: linear-gradient(180deg, rgb(0 0 0 / 80%) 0%, rgb(0 0 0 / 75%) 100%) !important;}    
}
@media screen and (max-width: 768px) {
    .section-link {min-height: 12rem; padding: 2rem 0;}
    .section-imgs {height: auto;}
    .section-link--bg {display: none;}

    .footer-inf {padding: 2rem 0; text-align: center;}
    .footer-inf h4 {margin-top: 2rem; margin-bottom: .5rem;}
    .info-legal ul {list-style: none; padding-left: 0;}  
    .footer-inf img {margin-bottom: 2rem;}  
}